doctype 5
html
  head
    link(rel="stylesheet", href="/main.css")
    script(src="/jquery.js", type="text/javascript")
    script(src="/main.js", type="text/javascript")

    meta(content='True', name='HandheldFriendly')
    meta(content='320', name='MobileOptimized')
    meta(content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0', name='viewport')

    title KCDC 2013 Schedule

    script(type="text/javascript")
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40649434-1', 'herokuapp.com');
      ga('send', 'pageview');

  body
    h1 KCDC 2013 Schedule

  != body