body
  font-family "Helvetica Neue", "Helvetica", "Arial", sans-serif
  line-height 1.4em
  text-shadow 1px 1px 1px #000

  background-color #444
  color #eee

  margin 0
  padding 0
  margin-top 15px
.clear
  clear both

h1
  background-color #555
  border-bottom 1px solid #222

  font-size 2em
  line-height 1.4em

  margin 0
  padding 20px 20px 5px 20px

ul
  margin 0
  padding 0

li
  list-style-type none

  margin 0
  padding 8px 20px

  border-bottom 1px solid #222


  h2
    font-size 1.2em
    font-weight bold
    line-height 1.4em
    float left
    margin 0
    padding 0

    .speaker
      color #bbb

      font-size 0.8em
      font-weight normal

      margin-left 1em

  p
    margin 0
    padding 0

    time
      color #bbb
      margin-left 1em

span.group
  display block
  background white
  color black
  padding 5px
  margin-bottom 5px
.title
  float left;
  width 70%
.checker
  float right;
  width 30%
#sliderLabel 
  border 1px solid #a2a2a2
  -moz-border-radius 3px
  -webkit-border-radius 3px 
  position relative   
  border-radius 3px
  cursor pointer
  display block
  height 30px
  overflow hidden
  width 100px

#sliderLabel input 
  display none

#sliderLabel input:checked + #slider 
  left 0px

#slider 
  left -50px
  position absolute
  top 0px
  -moz-transition left .25s ease-out
  -webkit-transition left .25s ease-out
  -o-transition left .25s ease-out
  transition left .25s ease-out

#sliderOn, #sliderBlock, #sliderOff 
  display block
  font-family arial, verdana, sans-serif
  font-weight bold
  height 30px
  line-height 30px
  position absolute
  text-align center
  top 0px

#sliderOn 
  background #3269aa
  background -moz-linear-gradient(top,  #3269aa 0%, #82b3f4 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3269aa), color-stop(100%,#82b3f4))
  background -webkit-linear-gradient(top,  #3269aa 0%,#82b3f4 100%)
  background -o-linear-gradient(top,  #3269aa 0%,#82b3f4 100%)
  background -ms-linear-gradient(top,  #3269aa 0%,#82b3f4 100%)
  background linear-gradient(top,  #3269aa 0%,#82b3f4 100%)
  color white
  left 0px
  width 54px

#sliderBlock 
  background #d9d9d8
  background -moz-linear-gradient(top,  #d9d9d8 0%, #fcfcfc 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d8), color-stop(100%,#fcfcfc))
  background -webkit-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%)
  background -o-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%)
  background -ms-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%)
  background linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%)
  border 1px solid #a2a2a2
  -moz-border-radius 3px
  -webkit-border-radius 3px
  border-radius 3px
  height 28px
  left 50px
  width 50px

#sliderOff 
  background #f2f3f2
  background -moz-linear-gradient(top,  #8b8c8b 0%, #f2f3f2 50%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8c8b), color-stop(50%,#f2f3f2))
  background -webkit-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%)
  background -o-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%)
  background -ms-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%)
  background linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%)
  color #8b8b8b
  left 96px
  width 54px

#menu
  padding 5px
  position fixed
  top 0px
  width 100%
  background-color black
  z-index 1000
  .menu-title
    font-size 1.8em
  a 
    font-size 1.8em
    color white
    padding 10px
    text-decoration none

    &.on
      color orange